.Card {
  border: black;
  border-style: solid;
  background-color: orange;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 5px;
  float: left;
}

.Card.showing {
  border: black;
  border-style: solid;
  background-color: cornflowerblue;
  border-radius: 5px;
}
